.App {
  text-align: center;
}

.conteiner {
  width: 400px;
  margin: 0 auto;
}

img {
  margin-bottom: 20px;
  width: 400px;
}

img:before {
  content: ' ';
  display: block;
  height: 400px;
  width: 400px;
  background-color: magenta;
}
